<h1>Calculate the Pythagorean Theorem</h1>
<form action="/forms/7_process">
  <div>
    <label for="calculation">Insert a</label>
    <input type="text" id="calculation" name="a">
  </div>
  <div>
    <label for="b">Insert b:</label>
    <input type="text" id="b" name="b">
  </div>
  <div>
    <label for="c">Insert c:</label>
    <input type="text" id="c" name="c">
  </div>
  <div>
    <input type="submit">
  </div>
</form>
