<h1>Calculate Volume</h1>
<form action="/forms/6_process">
  <div>
    <label for="length">Length:</label>
    <input type="text" id="length" name="length">
  </div>
  <div>
    <label for="width">Width:</label>
    <input type="text" id="width" name="width">
  </div>
  <div>
    <label for="height">Height:</label>
    <input type="text" id="height" name="height">
  </div>
  <div>
    <input type="submit">
  </div>
</form>
